<!DOCTYPE html>
<html ng-app="CCN.Angular.Page">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../../lib/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body ng-controller="mainController">
<table class="table table-hover table-bordered">
    <tr ng-class="{hidden:search.data.log.length==0}">
        <th>
            编号
        </th>
        <th>
            姓名
        </th>
        <th>
            年龄
        </th>
        <th>
            角色
        </th>

    </tr>
    <tr ng-repeat="l in items">
        <td ng-bind="l.id">

        </td>
        <td ng-bind="l.name">

        </td>
        <td ng-bind="l.age">

        </td>
        <td ng-bind="l.role">

        </td>
    </tr>
</table>

<tm-pagination conf="paginationConf"></tm-pagination>
<script type="text/javascript" src="../../lib/jquery/jquery.1.5.2.js"></script>
<script type="text/javascript" src="../../lib/js/paging.js"></script>
<script type="text/javascript" src="../../lib/angular/angular.js"></script>
<script type="text/javascript" src="../../lib/angular/angular-route.min.js"></script>
<script type="text/javascript" src="../../lib/angular/angular-resource.js"></script>

<script type="text/javascript" src="../directives/directives.js"></script>
<script type="text/javascript" src="../services/services.js"></script>
<script type="text/javascript" src="../controller/mainController.js"></script>
</body>
</html>