<!DOCTYPE html>
<html lang="en" ng-app="MJN"   ng-controller="configCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!--电话号码，在微信浏览器上正常显示-->
    <meta name="format-detection" content="telephone=no">
    <title>活动入口</title>
    <script type="text/javascript" src="../../../static/script/autoRem.js"></script>
    <!-- 除iPhone5之外的设备引用样式-->
    <link rel="stylesheet" media="screen and (min-width: 321px)" href="../../../static/css/front.css"/>
    <!--iPhone5引用样式-->
    <link rel="stylesheet" media="screen and (max-width: 320px)" href="../../../static/css/iphone5.css" />
    <link rel="stylesheet" href="../../../static/css/LCalendar.css">
</head>
<body ng-controller="gatherCtrl" class="gatherPage">
    <div class="page" ng-view></div>
    <div  class="page_foot">
        <ul>
            <li ng-click="jump('activity')">
                <div class="parent">
                    <div class="child">
                        <img src="../../../static/images/icon/icon1_.png" alt=""/><br/>
                        <p class="page_foot_info">活动入口</p>
                    </div>
                </div>
            </li>
            <li ng-click="jump('scan')">
                <div class="parent">
                    <div class="child">
                        <img src="../../../static/images/icon/icon2_.png" alt=""/><br/>
                        <p class="page_foot_info">卡券核销</p>
                    </div>
                </div>
            </li>
            <li ng-click="jump('seek')">
                <div class="parent">
                    <div class="child">
                        <img src="../../../static/images/icon/icon3_.png" alt=""/><br/>
                        <p class="page_foot_info">业绩查询</p>
                    </div>
                </div>
            </li>
            <li ng-click="jump('store')">
                <div class="parent">
                    <div class="child">
                        <img src="../../../static/images/icon/icon4_.png" alt=""/><br/>
                        <p class="page_foot_info">门店中心</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script src="../../../_public/jquery/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="../../../_public/angular/angular.js" type="text/javascript"></script>
    <script src="../../../_public/angular/angular-resource.js" type="text/javascript"></script>
    <script src="../../../_public/angular/angular-route.min.js" type="text/javascript"></script>
    <script src="../../service/services.js" type="text/javascript"></script>
    <script src="../../controller/main.js" type="text/javascript"></script>
    <script src="../../controller/app.js" type="text/javascript"></script>
    <script src="../../controller/activity.js" type="text/javascript"></script>
    <script src="../../controller/scan.js" type="text/javascript"></script>
    <script src="../../controller/scanMilk.js" type="text/javascript"></script>
    <script src="../../controller/seek.js" type="text/javascript"></script>
    <script src="../../controller/store.js" type="text/javascript"></script>
    <script src="../../controller/QRcode.js" type="text/javascript"></script>
    <script src="../../controller/changePwd.js" type="text/javascript"></script>
    <script src="../../controller/manage.js" type="text/javascript"></script>
    <script src="../../../_public/jquery/Plugins/LCalendar.js" type="text/javascript"></script>
    <script src="../../../static/script/front.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('closeWindow');
        });
    </script>
</body>
</html>
