/********公共样式*********/
html {
  height: 100%;
  overflow-y: auto;
}
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.parent {
  width: 100%;
  height: 100%;
  display: table;
}
.child {
  display: table-cell;
  vertical-align: middle;
}
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  outline: none;
}
.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.none {
  display: none;
}
.error {
  color: #ee1c23!important;
}
/*** 登录页面样式 ***/
.gatherPage {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../images/bg/bg_line.png') repeat center bottom;
  background-size: 100% 10%;
  z-index: -99999;
}
.bg_line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../images/bg/bg_line.png') repeat center bottom;
  background-size: 100% 10%;
  z-index: -999;
}
.bg_foot {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../images/bg/bg_foot.png') no-repeat center bottom;
  background-size: 100% auto;
  z-index: -99;
}
.reg_form_wrap .bg_foot {
  z-index: 0;
}
.page_head {
  width: 100%;
  height: 2.47rem;
  line-height: 2.47rem;
  background: url("../images/head.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.logo {
  width: 7.4rem;
  left: 2rem;
  position: absolute;
  top: 50%;
  margin-top: -0.54rem;
}
.input_center {
  padding: 1.35rem 1.35rem 0 1.35rem;
  text-align: center;
}
.input_center .form_group {
  width: 100%;
  height: 3rem;
  background: url("../images/button/inputs.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.input_center .form_group {
  margin-bottom: 0.55rem;
}
._store,
._pwd,
._tel,
._code,
._input {
  width: 100%;
  height: 100%;
  background: none;
  font-size: 0.86rem;
  color: #dfaf57;
  padding-right: 1.2rem;
}
._store,
._pwd {
  padding-left: 6.8rem;
}
._tel,
._code {
  padding-left: 6rem;
}
.store_label {
  padding-left: 2.7rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: url('../images/icon/store.png') no-repeat 1.18rem center;
  background-size: 1.15rem 1.1rem;
  font-size: 0.86rem;
  color: #dfaf57;
  line-height: 3rem;
}
.pwd_label {
  padding-left: 2.7rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: url('../images/icon/pwd.png') no-repeat 1.3rem center;
  background-size: 0.95rem 1.1rem;
  font-size: 0.86rem;
  color: #dfaf57;
  line-height: 3rem;
}
.tel_label {
  padding-left: 2.7rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: url('../images/icon/tel.png') no-repeat 1.45rem center;
  background-size: 0.7rem 1.2rem;
  font-size: 0.86rem;
  color: #dfaf57;
  line-height: 3rem;
}
.code_label {
  padding-left: 2.7rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: url('../images/icon/code.png') no-repeat 1.3rem center;
  background-size: 1.05rem 0.9rem;
  font-size: 0.86rem;
  color: #dfaf57;
  line-height: 3rem;
}
/*出错时提示语*/
.error_value {
  font-size: 0.86rem;
  color: #ee1c23;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 1.4rem;
  z-index: 10;
  line-height: 3rem;
  text-align: left;
}
.get_code {
  width: 6.2rem;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  background: url('../images/button/bg_get.png') no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 0.86rem;
}
.get_code img {
  width: 3.95rem;
}
.forgot_pwd {
  display: inline-block;
  height: 0.9rem;
  font-size: 0.86rem;
  color: #dfaf57;
  text-decoration: none;
}
.btn_bottom {
  /*width: 15.4rem;*/
  width: 100%;
  padding: 0 1.3rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
}
.btn_bottom button {
  width: 100%;
  height: 3.3rem;
  background: url('../images/button/btn_blue.png') no-repeat;
  background-size: 100% 100%;
}
.btn_bottom button img {
  width: auto;
  height: 1rem;
}
.btn_login {
  margin-bottom: 0.54rem;
}
/**** 注册页面 ****/
.regPage {
  position: relative;
  min-height: 100%;
  overflow-y: auto;
}
.regPage .page_head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.required_notice,
.QRcode_notice {
  height: 2.35rem;
  line-height: 2.35rem;
  color: #28628b;
  font-size: 0.8rem;
}
.required_notice {
  padding-left: 1.7rem;
}
.reg_form_wrap {
  margin-top: 2.47rem;
  overflow-y: auto;
}
.more {
  width: 0.45rem;
  margin-left: 0.3rem;
}
.reg_group_wrap .form_group {
  height: 2.15rem;
  line-height: 2.15rem;
  font-size: 0.86rem;
  padding-left: 1.7rem;
  background: url('../images/border_line.png') no-repeat center bottom;
  background-size: 100% 0.05rem;
  color: #28628b;
  position: relative;
}
.reg_group_wrap .form_group:last-child {
  background: none;
}
.max_width {
  display: inline-block;
  max-width: 9.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
}
.reg_group_wrap input {
  font-size: 0.86rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #28628b;
  background: none;
  padding: 0.3rem;
}
.reg_name {
  width: 10rem;
}
.reg_tel {
  width: 8rem;
}
.btn_register_wrap,
.btn_register_change {
  padding: 0 1.3rem;
  position: relative;
}
.btn_register,
.btn_change,.btn_manage{
  width: 100%;
  height: 3.3rem;
  background: url('../images/button/btn_blue.png') no-repeat;
  background-size: 100% 100%;
}
.btn_change{
  margin-bottom: 1rem;
}
.btn_register{
  margin: 0.7rem 0 1rem 0;
}
.btn_manage {
  margin: 0.7rem 0 0.5rem 0;
}
.btn_register img,
.btn_change img,.btn_manage img{
  width: auto;
  height: 1rem;
}
.reg_error {
  font-size: 0.86rem;
  color: #ee1c23;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 1.7rem;
  z-index: 8;
  line-height: 2.15rem;
  text-align: left;
}
.mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.pop_all {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 11.5rem;
  max-height: 20.7rem;
  border-radius: 0.6rem;
  overflow: auto;
  z-index: 999;
}
.pop_medium {
  width: 8.6rem;
  background: #ffffff url('../images/bg/pop_medium.png') no-repeat center bottom;
  background-size: 100% auto;
  margin-left: -4.3rem;
}
.pop_wide {
  width: 15rem;
  background: #ffffff url('../images/bg/pop_wide.png') no-repeat center bottom;
  background-size: 100% auto;
  margin-left: -7.5rem;
}
.pop_thin {
  width: 7.35rem;
  margin-left: -3.675rem;
  background: url('../images/bg/pop_thin.png') no-repeat center bottom;
  background-size: 100% auto;
}
.item_wrap li {
  width: 100%;
  height: 2.3rem;
  line-height: 2.3rem;
  text-align: center;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: url('../images/border_line.png') no-repeat center bottom;
  background-size: 100% 0.05rem;
  color: #28628b;
  font-size: 0.86rem;
}
.item_wrap li:last-child {
  background: none;
}
.reg_notice,
.scan_pop {
  width: 16.45rem;
  height: 14.75rem;
  padding: 0.7rem 0.64rem 0.9rem 0.74rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -8.225rem;
  margin-top: -9.2rem;
  background: url('../images/bg/notice.png') no-repeat;
  background-size: 100% 100%;
  z-index: 9999;
  text-align: center;
  color: #57350b;
}
.reg_success_title {
  font-size: 1.6rem;
  padding: 2rem 1rem 0.8rem 1rem;
}
.reg_success_content {
  width: 10.25rem;
  margin: auto;
  font-size: 0.86rem;
  line-height: 1.5em;
}
.reg_error_content,
.scan_error_one {
  font-size: 1.6rem;
  line-height: 1.5em;
  padding: 0 0.6rem;
}
.page_center_wrap {
  position: absolute;
  top: 2.47rem;
  left: 0;
  right: 0;
  bottom: 2.85rem;
  overflow: auto;
}
.page_center {
  min-height: 100%;
  position: relative;
}
.page_foot {
  width: 100%;
  height: 2.85rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.page_foot ul {
  width: 100%;
  height: 100%;
}
.page_foot ul li {
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
}
.page_foot ul li img {
  width: auto;
  height: 1.2rem;
  vertical-align: middle;
}
.page_foot_info {
  font-size: 0.86rem;
  color: #cdd1d2;
  padding-top: 3px;
}
.current_info{
  color:#dfaf57;
}
.seek_input,
.change_input {
  width: 100%;
  height: 100%;
  background: none;
  font-size: 0.86rem;
  color: #dfaf57;
  padding-right: 1.2rem;
  padding-left: 6rem;
}
.seek_label,
.change_label {
  padding-left: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 0.86rem;
  color: #dfaf57;
  line-height: 3rem;
}
.pop_seek_wrap {
  background: url('../images/bg/two.png') no-repeat;
  background-size: 100% 100%;
  color: #dfaf57;
  margin: 0;
  height: 14rem;
  width: 89%;
  position: absolute;
  left: 5.5%;
  top: 3.5rem;
  z-index: 9901;
  padding: 1rem;
}
.pop_seek_content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.pop_seek_content li {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
}
.btn_seek_foot {
  width: 85.6%;
  position: absolute;
  bottom: 3.85rem;
  left: 7.2%;
  height: 3.3rem;
  background: url('../images/button/btn_blue.png') no-repeat;
  background-size: 100% 100%;
  z-index: 99999;
}
.btn_seek_foot img {
  height: 1rem;
  width: auto;
}
.seek_content_left,
.seek_content_right {
  float: left;
  font-size: 0.86rem;
}
.seek_content_left {
  width: 40%;
  text-align: right;
}
.seek_content_right {
  width: 60%;
  text-align: center;
}
.store_wrap li {
  height: 2.15rem;
  line-height: 2.15rem;
  padding: 0 1.7rem;
  color: #28628b;
  font-size: 0.86rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.change_input {
  padding-left: 5.2rem;
}
.change_input_sure {
  padding-left: 6rem;
}
.get_oldPwd {
  width: 4.75rem;
  height: 1.45rem;
  background: url('../images/button/get_oldpwd.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0.775rem;
  right: 1.25rem;
}
.error_store {
  font-size: 0.86rem;
  color: #ee1c23;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 2rem;
  z-index: 10;
  line-height: 3rem;
  text-align: left;
}
/*活动入口*/
.QRcode_notice {
  padding-left: 1.9rem;
}
.card_wrap {
  padding: 0.85rem 1.85rem;
}
.card {
  width: 100%;
  height: 6.6rem;
  padding: 0.15rem 0.3rem;
  margin-bottom: 0.2rem;
}
.card_w {
  background: url('../images/bg/bg_w.png') no-repeat;
  background-size: 100% 100%;
}
.card_r {
  background: url('../images/bg/bg_r.png') no-repeat;
  background-size: 100% 100%;
}
.card_o {
  background: url('../images/bg/bg_o.png') no-repeat;
  background-size: 100% 100%;
}
.card_title_black,
.card_title_red {
  height: 1.5rem;
  line-height: 1.6rem;
  padding-left: 0.8rem;
  font-size: 0.7rem;
}
.card_title_black {
  color: #606060;
}
.card_title_red {
  color: #fff;
}
.card_title_black p {
  background: url('../images/icon/date_black.png') no-repeat left 40%;
  background-size: 0.8rem auto;
  padding-left: 1.2rem;
}
.card_title_red p {
  background: url('../images/icon/date_white.png') no-repeat left 40%;
  background-size: 0.8rem auto;
  padding-left: 1.2rem;
}
.card_content_wrap {
  width: 100%;
  height: 4.8rem;
  position: relative;
}
.card_white_left {
  float: left;
  width: 64%;
  height: 100%;
  white-space: nowrap;
}
.card_red_left {
  float: left;
  width: 60%;
  height: 100%;
  white-space: nowrap;
}
.card_white_left h3,
.card_red_left h3 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.4rem;
}
.card_white_left h3 {
  color: #dfaf57;
  padding-left: 1.85rem;
}
.card_red_left h3 {
  color: #fff;
  padding-left: 0.8rem;
}
.white_start_time {
  font-size: 0.86rem;
  color: #dfaf57;
  padding-left: 1.85rem;
  background: url('../images/icon/clock.png') no-repeat 0.7rem 45%;
  background-size: 0.8rem auto;
  margin-bottom: 0.1rem;
}
.white_end_time {
  font-size: 0.7rem;
  color: #606060;
  padding-left: 1.85rem;
}
.red_start_time,
.red_end_time {
  float: left;
  font-size: 0.7rem;
  color: #971e00;
  display: inline-block;
  padding-top: 0.1rem;
}
.red_start_time {
  margin-left: 0.8rem;
}
.red_end_time {
  margin-left: 1rem;
}
.red_start_time span,
.red_end_time span {
  color: #fff;
}
.card_white_right {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  text-align: right;
  padding-right: 0.8rem;
}
.img_card_w {
  width: 3.35rem;
  height: 3.35rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 0 #888888, /*左边阴影*/ 2px 0 2px #888888, /*右边阴影*/ 0 0 0 transparent, /*顶部阴影*/ 0 2px 2px #888888;
  /*底边阴影*/
}
.card_r .img_card_w {
  box-shadow: 0 0 0 transparent, /*左边阴影*/ 2px 0 2px #80382f, /*右边阴影*/ 0 0 0 transparent, /*顶部阴影*/ 0 2px 2px #80382f;
  /*底边阴影*/
}
.card_o .img_card_w {
  box-shadow: 0 0 0 transparent, /*左边阴影*/ 2px 0 2px #80382f, /*右边阴影*/ 0 0 0 transparent, /*顶部阴影*/ 0 2px 2px #80382f;
  /*底边阴影*/
}
.QRcode_wrap {
  text-align: center;
}
.img_QRcode_title {
  width: 15.45rem ;
  height: 5.75rem;
  margin-top: 1.95rem;
}
.img_QRcode {
  width: 8.1rem;
  height: 8.1rem;
  margin-top: 1.85rem;
}
.img_QRcode_foot {
  width: 8.25rem;
  margin-top: 1rem;
}
.page_scan {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2.85rem;
  padding: 1.35rem 1rem 0;
}
.page_scan .form_group {
  width: 94%;
  margin-left: 3%;
  height: 2.84rem;
  background: url("../images/button/inputs_m.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.page_scan .form_group ._input {
  padding: 0;
  text-align: center;
}
.page_scan .form_group ._input::-webkit-input-placeholder {
  color: #dfaf57;
  text-align: center;
}
.page_scan .form_group ._input::-moz-placeholder {
  color: #dfaf57;
  letter-spacing: -0.5px;
}
.page_scan .form_group ._input:-ms-input-placeholder {
  color: #dfaf57;
  letter-spacing: -0.5px;
}
.scan_tel_info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font-size: 0.86rem;
  color: #dfaf57;
  line-height: 2.85rem;
}
.scan_wrap {
  width: 100%;
  height: 17rem;
  background: url('../images/bg/scan.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 1.2rem;
  padding: 0.4rem 1.45rem 0.55rem 1.45rem;
  text-align: center;
}
.btn_scan {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 2.85rem;
  background: url('../images/button/btn_scan.png') no-repeat;
  background-size: 100% 100%;
}
.scan_img {
  width: 5.8rem;
  height: 5.8rem;
  margin-top: 1.8rem;
  margin-bottom: 0.9rem;
}
.scan_code {
  width: 100%;
  height: 2.7rem;
  background: url("../images/button/inputs_s.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.scan_code ._input {
  padding-left: 1.2rem;
}
.scan_code ._input::-webkit-input-placeholder {
  color: #dfaf57;
}
.scan_code ._input::-moz-placeholder {
  color: #dfaf57;
}
.scan_code ._input:-ms-input-placeholder {
  color: #dfaf57;
}
.btn_scan_sure {
  position: absolute;
  right: -0.1rem;
  top: -0.1rem;
  bottom: -0.1rem;
  height: 2.9rem;
  width: 3.8rem;
  background: url('../images/button/btn_sure.png') no-repeat;
  background-size: 100% 100%;
}
.scan_success_title {
  font-size: 1.6rem;
  line-height: 1.3em;
  text-indent: 0.8em;
  margin-top: -1rem;
}
.scan_error_double {
  font-size: 1.6rem;
  line-height: 1.3em;
  padding: 0 2rem;
}
/********新增样式*********/
.change_input::-webkit-input-placeholder {
  color: #b5b5b3;
  font-size: 0.86rem;
}
.btn_scan img{
  width: auto;
  height: 1rem;
}
.scanMilk{
  padding:0 2.45rem;
  text-align: center;
}
.scanMilk_img {
  width: 5.8rem;
  height: 5.8rem;
  margin-top: 3.6rem;
  margin-bottom: 2.4rem;
}
.scan_error_two{
  font-size: 1.6rem;
  line-height: 1.3em;
  padding: 0 3.5rem;
}
.scan_error_three {
  font-size: 1.6rem;
  padding: 0 2.6rem;
  line-height: 1.2em;
}
/*店员管理*/
.manage_title{
  width: 100%;
  padding:0 1.2rem;
  height:2.55rem;
  line-height: 2.55rem;
  background: url('../images/border_line.png') no-repeat center bottom;
  background-size: 100% 0.05rem;
}
.manage_tilte_left{
  position: absolute;
  left: 1.2rem;
  top:0;
  width:7.5rem;
  text-align: center;
  color:#dfaf57;
  font-size:0.95rem;
}
.manage_tilte_right{
  position: absolute;
  right: 1.2rem;
  top:0;
  width:7.9rem;
  text-align: center;
  color:#dfaf57;
  font-size:0.95rem;
}
.manage_content{
  padding:0 1.2rem;
}
.manage_content li{
  width: 100%;
  height: 2.5rem;
  position: relative;
}
.item_left{
  position: absolute;
  left: 0;
  top:0;
  width:7.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color:#28628b;
  font-size: 0.86rem;
  text-align: center;
}
.item_right{
  position: absolute;
  right:0;
  top:0;
  width:7.9rem;
  color:#28628b;
  font-size: 0.86rem;
  text-align: center;
}
.tel_status{
  width: 4.75rem;
  height:1.45rem;
  vertical-align: middle;
  margin:auto;
  margin-top:0.525rem;
}
.tel_abled{
  background:url('../images/button/abled.png') no-repeat;
  background-size:100% 100% ;

}
.tel_disabled{
  background:url('../images/button/disabled.png') no-repeat;
  background-size:100% 100% ;
}
.reg_notice_wrap{
  height:100%;
}