<div class="github-user-widget_body">
	<a class="gitUW_avatar" href="<%=user.html_url%>" title="<%=user.name%>的github">
		<img src="<%=user.avatar_url %>" alt="<%=user.name%>" />
	</a>
	<a class="gitUW_name" href="<%=user.html_url%>" title="<%=user.name%>的github">
		<strong><%=user.name%></strong>
		<span><%=user.login%></span>
	</a>
	<div class="gitUW_info">
		<% if(user.company && user.company.length){%><p><i class="gitUW_ico_company"></i><span><%=user.company%></span></p><%}%>
		<% if(user.location && user.location.length){%><p><i class="gitUW_ico_location"></i><span><%=user.location%></span></p><%}%>
		<% if(user.email && user.email.length){%><p><i class="gitUW_ico_email"></i><a href="mailto:<%=user.email%>"><%=user.email%></a></p><%}%>
		<% if(user.blog && user.blog.length){%><p><i class="gitUW_ico_blog"></i><a href="<%=user.blog%>" target="_blank"><%=user.blog%></a></p><%}%>
		<% if(user.created_at.length){%><p><i class="gitUW_ico_created_at"></i><span><%=user.created_at%> 加入</span></p><%}%>
	</div>
	<div class="gitUW_count">
		<a href="<%=user.html_url%>/followers">
			<strong><%=user.followers%></strong>
			<span>followers</span>
		</a>
		<a href="<%=user.html_url%><%=user.login%>">
			<strong><%=user.public_repos%></strong>
			<span>Repos</span>
		</a>
		<a href="<%=user.html_url%><%=user.login%>/following">
			<strong><%=user.following%></strong>
			<span>Following</span>
		</a>
	</div>
</div>