.rank_page{
	width:100%;
	height:100%;
	overflow-y:auto;
}
.rank_logo{
	width:4.1rem;
	position:absolute;
	left:1rem;
	top:-0.2rem;
}
.share{
	position: absolute;
    top: 0.7rem;
    right:0.5rem;
    z-index: 99;
    width: 5rem;
    height: 2rem;
    color: #DD1D21;
    font-size: 0.78rem;
}
.share img {
    position: relative;
    top: 0.1rem;
    left:-0.3rem;
    width: 1.32rem;
}
.rank_head{
	margin-top:2.7rem;
	text-align:center;
}
.rank_title{
	width:9rem;
}
.rule{
	font-size:0.53rem;
	color:#7a7a7a;
	position:absolute;
	right:0.4rem;
	top:4.5rem;
}
.rule span{
	width:0.8rem;
	height:0.8rem;
	background:#fed700;
	border-radius:100%;
	line-height:0.8rem;
	color:#fff;
	display:inline-block;
	font-size:0.8rem;
	margin-left:0.1rem;
}
.lists{
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	position:absolute;
	top:6rem;
	bottom:3rem;
}
.lists li{
	width:100%;
	height:3rem;
	display:table;
	border-bottom:1px solid #eee;
	text-align:center;
}
.lists li.list_front{
	height:4rem;
}
.lists li>p{
	display:table-cell;
	vertical-align:middle;
	font-size:0.7rem;
	color:#5e5e5e;
}
.lists li>p>span{
	display:block;
}
.left img{
	width:1.4rem;
}
.tx span{
	width:1.73rem;
	height:1.73rem;
	border-radius:100%;
	background:#444341;
	display:block;
	overflow:hidden;
	margin-left:5%;
}
.tx span img{
	width:1.73rem;
	height:1.73rem;
}
.right img{
	width:1rem;
}
.right img:nth-of-type(1){
	display:none;
}
.left{width:14%;padding-left:4%}
.tx{width:11%;}
.tel{width:19%;text-align:left;text-indent:0.6rem}
.rank_name{width:19%}
.right{width:16%}

.tel span:nth-of-type(1),.rank_name span:nth-of-type(1){
	font-size:0.6rem;
	/*font-weight:bold;*/
	color:#5e5e5e;
	margin-bottom:0.2rem;
}
.tel span:nth-of-type(2),.rank_name span:nth-of-type(2){
	font-size:0.7rem;
	/*font-weight:bold;*/
	color:#5e5e5e;
}
.right span:nth-of-type(2){
	font-size:0.53rem;
	color:#acacac;
}
.rank_menu{
	width:100%;
	height:3.3rem;
	background:#fed700;
	position:fixed;
	bottom:0;
	display:table;
	box-shadow: 0px -3px 15px #cacaca;
}
.rank_menu p{
	display:table-cell;
	vertical-align: middle;
	text-align:center;
	color:#5e5e5e;
	font-size:0.7rem;
	position:relative;
	/*font-weight:bold;*/	
}
.rank_menu p span{
	display:block
}
.menu_middle span:nth-of-type(1){
	width:3.17rem;
	height:3.17rem;
	background:#7A7A7A;
	border-radius:100%;
	overflow:hidden;
	position:absolute;
	bottom:1.6rem;
	left:50%;
	margin-left:-1.585rem;
}
.menu_middle span img{
	width:3.17rem;
	height:3.17rem;
}
.menu_middle span:nth-of-type(2){
	margin-top:1.1rem;
}
.menu_left span:nth-of-type(1),.menu_right span:nth-of-type(1){
	margin-bottom:0.15rem;
}
.menu_left img{
	width:1.05rem
}
.menu_right img{
	width:1.1rem
}

/*排名规则*/
.rule_close{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	bottom:0
}
.rule_page{
	width:100%;
	height:100%;
	background:url(../images/rank/rule_bg.png) no-repeat center top;
	background-size:104% auto;
	position:absolute;
	left:0;
	top:0;
	bottom:0
	
}
.rule_content{
	width:86%;
	background:#fff;
	position:absolute;
	top:1.5rem;
	bottom:1.5rem;
	left:7%;
	overflow-x:hidden;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	z-index:9999999
}
.gift_body{
	overflow:hidden;
	position:relative;
}
.caption{
	font-size:0.75rem;
	color:#414142;
	text-align:center;
	margin-top:1rem;
}
.descript{
	color:#DD1D21;
	font-size:0.6rem;
	text-align:center;
	padding:0.5rem 1.6rem;
	line-height:1.5em
}
.award{
	width:4.3rem;
	height:1.4rem;
	background:#FED700;
	font-size:0.75rem;
	color:#414142;
	line-height:1.4rem;
	text-align:center;
}
.award1{
	position:absolute;
	right:0;
	top:0;
}
.gift_left{
	width:95%;
	height:5.3rem;
	padding-left:1rem;
	display:flex;
	align-items:center;
	justify-content:flex-start
}
.gift_right{
	width:95%;
	height:4rem;
	padding-right:0.3rem;
	display:flex;
	align-items:center;
	justify-content:flex-end
}
.gift_img1 img{width:2.5rem;margin-right:0.5rem}
.gift_img2 img{width:3.7rem;margin-left:0.5rem}
.gift_img3 img{width:3.7rem;margin-right:0.5rem}
.gift_img4 img{width:3.7rem;margin-right:0.5rem}
.gift_img5 img{width:3.7rem;margin-left:0.5rem}

.left1{
	width:95%;
	padding-left:4.7rem;
}
.gift_cont{
	text-align:center;
}
.gift_name{
	font-size:0.75rem;
	color:#DD1D21;
	border-bottom:1px solid #fed700;
	display:inline-block;
	line-height:1.8em;
}
.gift_rank{
	font-size:0.6rem;
	color:#5e5e5e;
	display:block;
	line-height:1.8em;
}
.contact{
	font-size:0.6rem;
	color:#5e5e5e;
	text-align:center;
	padding:1rem 1rem;
	line-height:1.8em
}
.contact span{
	color:#DD1D21
}
.rule_oil{
	text-align:center;
	position:relative;
	width:100%;
	height:3.97rem;
}
.rule_oil img{
	width:5rem;
	position:relative;
	z-index:999;
	top:0.4rem;
}
.rule_oil p{
	position:absolute;
	left:0;
	top:0;
	z-index:99;
	width: 0;
    height: 0;
    border-bottom: 4rem solid #fed700;
    border-left: 16rem solid transparent;
}
.rule_bottom{
	background:#fed700;
	padding-top:0.6rem;
	padding-bottom:0.8rem;
}
.rule_bottom p{
	color:#5e5e5e;
	text-align:center;
	font-size:0.6rem;
	line-height:1.5em;
}
.rule_bottom p span{
	color:#DD1D21;
	font-size:0.83rem
}

/*分享*/
.share_page{
	width:100%;
	height:100%;
	background:url(../images/rank/bg.png) no-repeat center top;
	background-size:100% auto;
}
.share_cnt{
	width:14.8rem;
	height:17.9rem;
	position:absolute;
	left:50%;
	margin-left:-7.4rem;
	top:50%;
	margin-top:-8.95rem;
	background:url(../images/rank/share_bg.png) no-repeat left top;
	background-size:100% auto;
	z-index:99999
}
.share_oil{
	text-align:center;
}
.share_oil img{
	width:5.7rem;
	position:relative;
	top:-1.8rem
}
.share_name{
	color:#DD1D21;
	font-size:1.3rem;
	text-align:center;
	position:relative;
	top:-1rem
}
.share_title{
	margin-left:1.5rem;
	height:1.7rem;
	line-height:1.7rem;
	font-size:1rem;
	display:inline-block;
	border-bottom:2px solid #F7D117;
	margin-top:1rem;
}
.cnt,.cnt1{
	padding-left:1.5rem;
	font-size:0.7rem;
	height:2rem;
	line-height:2rem;
}
.cnt span,.cnt1 span{
	color:#DD1D21;
	font-size:1.2rem;
	margin-left:0.2rem;
	margin-right:0.2rem
}

.share_bottom {
    position: absolute;
    bottom: 0.7rem;
    left: 2%;
    width: 96%;
    height: 1.5rem;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.43rem;
    line-height: 1.5rem;
}

.won{
	color:#fff;
	font-size:1rem
}
.share_btn{
	width:4.4rem;
	height:1.5rem;
	line-height:1.5rem;
	background:#DD1D21;
	border-radius:1rem;
	color:#fff;
	font-size:0.7rem;
	position:absolute;
	bottom:2.5rem;
	left:50%;
	margin-left:-2.2rem;
	z-index:99999;
	text-align:center;
	padding:0 0.1rem
}


.heart {
	background:url(../images/rank/heart.png);
	background-position:left;
	background-repeat:no-repeat;
	cursor:pointer;
	width:1rem;
	height:1rem;
	background-size:2rem;
	margin-left:1.2rem
}
@-webkit-keyframes heartBlast {
	0% {
		background-position:left;
	}
	100% {
		background-position:right;
	}
}

@keyframes heartBlast {
	0% {
		background-position:left;
	}
	100% {
		background-position:right;
	}
}

.heartAnimation {
	display:inline-block;
	-webkit-animation-name:heartBlast;
	animation-name:heartBlast;
	-webkit-animation-duration:.2s;
	animation-duration:.2s;
	background-position:right;
}

.menu_left,.menu_middle,.menu_right{
	width:33.3%;
}

fieldset {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #fff;
    border-width: 1px;
}





