
@font-face {font-family: "iconfont";
  src: url('../../font/iconfont.eot?t=1459407623'); /* IE9*/
  src: url('../../font/iconfont.eot?t=1459407623#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../font/iconfont.woff?t=1459407623') format('woff'), /* chrome, firefox */
  url('../../font/iconfont.ttf?t=1459407623') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../font/iconfont.svg?t=1459407623#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-erweima:before { content: "\e600"; }
