<div class="page_head">
    <img src="../../../static/images/logo.png" alt="logo" class="logo"/>
</div>
<div class="page_center_wrap">
    <!-- page_center上加背景图片，使页面滚动时依然有背景图片-->
    <div class="page_center">
        <!--设置背景图-->
        <div class="bg_line"></div>
        <div class="bg_foot"></div>
        <!--设置背景图结束-->
        <ul class="store_wrap">
            <li>门店编码：<span>47846456</span></li>
            <li>名称：<span>张杨路店</span></li>
            <li>省份：<span>上海</span></li>
            <li>城市：<span>上海</span></li>
            <li>区县：<span>浦东新区</span></li>
            <li>详细地址：<span>47846566</span></li>
            <li>联系人：<span>47846566</span></li>
            <li>联系人手机号：<span>47846566</span></li>
            <li>所属渠道：<span>47846566</span></li>
            <li>所属大区：<span>47846566</span></li>
            <li>所属片区：<span>47846566</span></li>
            <li>所属区域：<span>47846566</span></li>
            <li>所属城市：<span>47846566</span></li>
            <li>所属经销商：<span>深圳市泰华通实业发展有限公司</span></li>
            <li>客服电话：<span>47846566</span></li>
        </ul>
        <div class="btn_register_wrap">
            <button class="btn_manage" ng-click="jump('manage')"><img src="../../../static/images/button/manage_info.png" alt="change_info"/></button>
            <button class="btn_change" ng-click="jump('changePwd')"><img src="../../../static/images/button/change_info.png" alt="change_info"/></button>
        </div>
    </div>
</div>
<!--根据foot中内容获得当前页脚-->
<div class="foot" style="display: none">3</div>